.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.loader_container {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #f4f7fc;
}

.survey_container {
    width: 100%;
    max-width: 550px;
    min-width: 400px;
    height: 600px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    overflow-y: scroll;
}

.buttonContainer {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    margin-top: 20px;
}

.buttonContainer.singleButton {
    justify-content: flex-end;
}

.button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 48%;
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.button:hover:not(:disabled) {
    background-color: #2980b9;
}

.description {
    margin-bottom: 20px;
}