.resultContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-top: 10px;
    height: 100%;
}

.title {
    font-size: 1.5rem;
    color: #00293c;
}

.resultContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
}

.sectionTitle {
    margin: 10px 0px;
    text-decoration: underline;
    font-size: 1.2rem;
    color: #00293c;
}

.riskFactor {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.riskFactor h4 {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 5px;
}

.recommendationTitle {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.recommendationList {
    margin-left: 20px;
    text-align: left;
    padding-left: 10px;
}

.thankYouMessage {
    margin-top: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #2d8b5c;
}
