.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-top: 10px;
    width: 100%;
    max-width: 600px;
    max-height: 100%;
    margin: 0 auto;
    overflow-y: scroll;
}

.formContainer h3 {
    font-size: 1.5rem;
    color: #00293c;
    text-align: center;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.formGroup {
    margin-bottom: 15px;
}

.formGroup label {
    font-size: 1rem;
    color: #444;
    margin-bottom: 5px;
}

.formGroup input,
.formGroup select {
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formGroup input:focus,
.formGroup select:focus {
    border-color: #2d8b5c;
    outline: none;
}

.continueButton {
    padding: 12px;
    font-size: 1.1rem;
    color: white;
    background-color: #2d8b5c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.continueButton:hover {
    background-color: #236e4a;
}

.description {
    margin-bottom: 20px;
}